{% load staticfiles %}

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mokrin</title>

    <!-- angular start -->
    <script src="{% static 'js/angular/angular-1.6.6.min.js' %}"></script>
    <script src="{% static 'js/angular/angular-cookies-1.6.6.min.js' %}"></script>
    <script src="{% static 'js/angular/angular-ui-router-1.0.3.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <!-- angular end -->

    <!-- angular main module start -->
    <script src="{% static 'js/app/module/app.module.js' %}"></script>
    <script src="{% static 'js/app/module/app.config.js' %}"></script>
    <!-- angular main module end -->

    <!-- angular controllers start -->
    <script src="{% static 'js/app/controllers/add-note.controller.js' %}"></script>
    <script src="{% static 'js/app/controllers/index.controller.js' %}"></script>
    <script src="{% static 'js/app/controllers/login.controller.js' %}"></script>
    <script src="{% static 'js/app/controllers/logout.controller.js' %}"></script>
    <script src="{% static 'js/app/controllers/main-page.controller.js' %}"></script>
    <script src="{% static 'js/app/controllers/notes.controller.js' %}"></script>
    <script src="{% static 'js/app/controllers/notes-user.controller.js' %}"></script>
    <script src="{% static 'js/app/controllers/register-controller.js' %}"></script>
    <!-- angular controllers end -->

    <!-- directives start -->
    <script src="{% static 'js/app/directives/navigation/navigation.module.js' %}"></script>
    <script src="{% static 'js/app/directives/navigation/navigation-directive.js' %}"></script>
    <script src="{% static 'js/app/directives/pagination/dirPagination.js' %}"></script>
    <!-- directives end -->

    <!-- css start -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.7.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- css end -->

    <link rel="icon" href="data:;base64,=">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARhdqBslFdAfNyHV4Wx7sURaXUh7oaHK4"
    async defer></script>

</head>
<body ng-app="notes">

    <div class="container">

        <div class="row">
            <main-nav></main-nav>
        </div>
        <div class="row">
            <ui-view></ui-view>
        </div>
        <div class="row">
            <footer ng-include="'{% static 'angular_templates/footer.html'%}'"></footer>
        </div>

    </div>












    <script>
          var static_url = '{{STATIC_URL}}';

          // javascript static function

          function static(path) {
              return static_url + path;
          }

    </script>
    <script src="{% static 'js/bootstrap/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap-3.3.7.min.js' %}"></script>




</body>
</html>